body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav{
    background-color: #ff5768;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
}
.navlist{
    display: flex;
    justify-self: flex-end;
}

ul{
    list-style: none;
    padding: 0;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: #ff5768;
}

.topnav a.active {
    background-color: #fdfff2;
    color: #ff5768;
}

.nav-title {
    justify-self: center;
}

.logo{
    width: 140px;
    height: 70px;
}

.koptekst{
    color: white;
    text-align: center;
    font-family: "Calibri Light", sans-serif;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}

/* Vier plaatjes midden op de pagina.*/
.destinations{
    margin-left: 300px;
}

.image-wrapper{
    justify-content: space-between;
    display: flex;
    padding: 0 200px;
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-wrapper img {
    width: 200px;
    height: 200px;
}

.vacation{
    width: 100%
}

.toscew{
    background-color: white;
    position: relative;
    top: 30px;
    left: 0;
    right: 0;
    height: 290px;
    transform: skewY(356deg);
}a

 .tounscew{
     color: deeppink;
     font-family: 'Sansita Swashed', cursive;
 }

 /* Strand plaatje */
.backdrop{
    width: 100%;
}

.signup{
    width: 300px;
    height: 300px;
    margin-top: 500px;
    background-color: black;
    position: absolute;
    right: 100px;
    top: 490px;
    width: 500px;
    height: 450px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 35px;
    border: 5px solid white;
    text-align: center;
    font-size: 30px;
}

.register{
    position: absolute;
    left: 100px;
    bottom: 40px;
    background-color: #ff6269;
    color: white;
    border: 5px lightcoral;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    width: 300px;
    border-radius: 20px;
    transition-duration: 0.4s;
    -webkit-appearance: none;
}

.register:hover{
    color: #f0415f;
    background-color: rgba(255,255,255,0.75);
    border-color: #f0415f;
    transition-duration: 0.4s;
}

.signuptekst{
    position: absolute;
    top: 100px;
    color: #363d46;
    font-family: "Calibri Light", sans-serif;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #ff5768;
    color: white;
    text-align: center;
}
