body {
    margin: 0;
}


/* Dit is de roze balk bovenaan de pagina */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
}

/* Dit is de menubalk */
li {
    float: right;
}

/* Dit zijn de list items(menu items) uit de menubalk */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
}

/* Dit is de opmaak van de list items(menu items) als je eroverheen hovert */
li a:hover {
    background-color: orange;
}

/* Dit is het gele blok in het midden waar de tekst gaat komen */
article {

}

/* Dit is het grijze balkje helemaal onderaan met de copyright */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.logo img {
    margin: 10px;
    width: 100px;
    height: 50px;
}
