ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}

article {
    float: right;
    padding: 55px;
    width: 80%;
    background-color: lemonchiffon;
    height: 620px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
