body{
    margin: 0;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

.logo{
    height: 60px;
    width: 110px;
}

/* Succesverhalen */
.succesverhaal {
    width: 100%;
    overflow: hidden;
    margin: 20px;
}

.succesverhaal img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 20px;
    vertical-align: middle;
}

.succesverhaal p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}




/* Navigatie balk */
.navbar{
    background-color: #ff5768 !important;
}
.navbar-collapse{
    color: white;
}

.navbar-text{
    color: white !important;
    left: 41%;
    position: absolute;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    font-style: italic;
}

.navbar-toggler {
    border-color: white !important;
}

.nav-link{
    color: white !important;
    font-size: 20px;
}

/* Verticaal streepje tussen menu items */

.streepjerechts{
    border-right: 1px solid white;
}

.navbar-collapse a:hover{
    background-color: white;
    color: #ff5768 !important;
}

.navbar-collapse a.active{
    background-color: #fdfff2;
    color: #ff5768;
}
.nav-item{
    text-align: right;
}

/* 4 plaatjes */
.plaatjes img {
    width: 200px;
    height: 200px;
}

.plaatjes p {
    margin-bottom: 10px;
}

.destinations{
    margin-left: 300px;
}

.image-wrapper{
    justify-content: space-between;
    display: flex;
    padding: 0 200px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-wrapper img {
    width: 200px;
    height: 200px;
}

.vacation{
    width: 100%
}

.vakantie {
    padding-bottom: 500px;
}

.suntext {
    margin-top: 15px;
    color: #f0415f;
    font-family: 'Sansita Swashed', cursive;
    margin-left: 20px;
}

/* Strand plaatje */
.backdrop{
    width: 100%;
}

.strandplaatje{
    background-color: white;
    position: relative;
    top: 10px;
    left: 0;
    right: 0;
    height: 290px;
}

/* Registreer knop */
.signup{
    position: absolute;
    right: 100px;
    top: 550px;
    width: 500px;
    height: 300px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 35px;
    border: 5px solid white;
    text-align: center;
    font-size: 30px;
}

.register{
    position: absolute;
    left: 100px;
    bottom: 40px;
    background-color: #ff6269;
    color: white;
    border: 5px solid lightcoral;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    width: 300px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.register:hover{
    color: #f0415f;
    background-color: rgba(255,255,255,0.75);
    border-color: #f0415f;
    transition-duration: 0.4s;
}

.signuptekst{
    position: absolute;
    top: 40px;
    left: 120px;
    color: #363d46;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

.infotext{
    font-family: "Sansita Swashed", "Calibri Light", serif;
    color: white;
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 25px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

footer{
    background-color: rgb(22, 34, 124);
    color: white;
    margin-top: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif;
}

/* horizontale streep in footer */
hr.light {
    border-top: 1px solid;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/*
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #ff5768;
    color: white;
    text-align: center;
}
*/