body{
    margin: 0;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}
.logo{
    height: 75px;
    width: 150px;
}

/* Navigatie balk */
.navbar{
    background-color: #ff5768 !important;
}
.navbar-collapse{
    color: white;
}

.navbar-text{
    color: white !important;
    left: 41%;
    position: absolute;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.navbar-toggler {
    border-color: white !important;
}

.nav-link{
    color: white !important;
    font-size: 20px;
}

.navbar-collapse a:hover{
    background-color: white;
    color: #ff5768 !important;
}

.navbar-collapse a.active{
    background-color: #fdfff2;
    color: #ff5768;
}
.nav-item{
    text-align: right;
}

/* 4 plaatjes */
.plaatjes img {
    width: 200px;
    height: 200px;
}

.plaatjes p {
    margin-bottom: 50px;
}

.destinations{
    margin-left: 300px;
}

.image-wrapper{
    justify-content: space-between;
    display: flex;
    padding: 0 200px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-wrapper img {
    width: 200px;
    height: 200px;
}


.vacation{
    width: 100%
}

.vakantie {
    padding-bottom: 500px;
}

.suntext {
    margin-top: 50px;
    color: #f0415f;
    font-family: 'Sansita Swashed', cursive;
    margin-left: 20px;
}

/* Strand plaatje */
.backdrop{
    width: 100%;
}

.strandplaatje{
    background-color: white;
    position: relative;
    top: 10px;
    left: 0;
    right: 0;
    height: 290px;
    transform: skewY(356deg);
}

/* Registreer knop */
.signup{
    position: absolute;
    right: 100px;
    top: 550px;
    width: 500px;
    height: 300px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 35px;
    border: 5px solid white;
    text-align: center;
    font-size: 30px;
}

.register{
    position: absolute;
    left: 100px;
    bottom: 40px;
    background-color: #ff6269;
    color: white;
    border: 5px solid lightcoral;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    width: 300px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.register:hover{
    color: #f0415f;
    background-color: rgba(255,255,255,0.75);
    border-color: #f0415f;
    transition-duration: 0.4s;
}

.signuptekst{
    position: absolute;
    top: 40px;
    left: 120px;
    color: #363d46;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

.infotext{
    font-family: "Sansita Swashed", "Calibri Light", serif;
    color: white;
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 25px;
}

footer{
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 87, 104, 1);
    padding-top: 1rem;
    
    bottom: 0;
    width: 100%;
}

/* horizontale streep in footer
hr.light {
    border-top: 1px solid;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #ff5768;
    color: white;
    text-align: center;
}
*/