body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

button {
    background: #ff5768 !important;
    border-color: #ff5768 !important;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

input[type="password"],input[type="file"], input[type="email"] {
    width: 250px;
}

.my-row {
    height: 200px;
}

.checkbox-text {
    margin-left: auto
}

