html, body{
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(left, #ffccd1, #ffeeef);
}
/*Top Navigation*/
.navbar{
    background-color: #ff5768 !important;
}
.navbar-collapse{
    color: white;
}
.navbar-text{
    color: white !important;
    left: 40%;
    position: absolute;
    font-family: "Calibri Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.navbar-toggler {
    border-color: white;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    background: transparent;
    color: white;
}
.navbar-collapse a:hover {
    background: transparent;
}
.nav-link{
    color: white;
}
.nav-link-active{
    background-color: white;
    color: #ff5768;
}
.navbar-collapse a:hover{
    background-color: white;
    color: #ff5768;
}
.navbar-collapse a.active{
    background-color: #fdfff2;
    color: #ff5768;
}
.nav-item{
    text-align: right;
}
/*Sidebar Navigation*/
.sidebar{
    width: 15%;
    height: 55%;
    /*background: #c34e5e;*/
    background-color: #f2f2f2;
    border: solid #ff5768 2px;
    margin-right: 50px;

}
.sidebarBottom{
    background: #c34e5e;
    width: 20%;
}
.active-mymatches-button{
    color: #ff5768;
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
}
.chat-button{
    color:  #f2f2f2;
    padding: 5px 15px 5px 15px;
}
.chat-button:hover {
    color: #c34e5e;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}
.sidebarline{
    background: #ff5768;
}
.filter-text{
    color: #ff5768;
    position: absolute;
    left: 1%;
}
.max-budget-slider{
    position: absolute;
    top: 35%;
    left: 1%;
    color: #ff5768;
}
.max-age-slider{
    position: absolute;
    top: 45%;
    left: 1%;
    color: #ff5768;
}
.apply-changes-button{
    position: absolute;
    top: 50%;
    left: 1%;
}
#vorigematch{
    margin-right: 1px;
}

#volgendematch{
    margin-left: 1px;

}
.geenResultaat{
    text-align: center;
    font-size: 30px;
    color: dimgrey;
}
/*Content*/
.content{
    width: 80%;
    height: 100%;
    padding: 2rem;
}
/*Cards*/
.card{
    background-color: #f2f2f2;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10%;
    border: 3px solid #ff5768;
}
.card:hover{
    transition: transform 200ms;
    cursor: pointer;
    transform: translateY(-1%);
}
.teller{
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}
.card-title{
    color: #ff5768;
}
.card-destination{
    margin-bottom: 0;
}
.card-budget{
    margin-bottom: 1rem;
}
.profile-picture{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 8px;
    border: 6px solid lightgrey;
    box-shadow: 5px 5px 5px grey;
}
.flex{
    display: flex;
}
.card-ranking{
    position: absolute;
    right: 10%;
    width: 35px;
    height: 30px;
    background: green;
    /*border: solid black 5px;*/
}