.welcome{
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.overons{
    color: #f0415f;
    font-family: 'Sansita Swashed', cursive;
}

body {
    padding-bottom: 200px;
}