body{
    background: -webkit-linear-gradient(left, #ffccd1, #ffeeef);
}

#About{
    margin-top: 30px;
}

.button_wijzig{
    margin-left:30px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.imagePreview{
    margin-top: 50px;
}

/* Upload knop */
.btn-primary {
    background-color: #26a514 !important;
    border-color: #26a514 !important;
    margin-left: 10px !important;
    color: #ffffff !important;
}

.profielopmaak{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}