/* Styling (font) body elements */
body {
    margin: 0;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

/* Styling h3 elements */
h3 {
    text-align: center;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

/* Styling h4 elements */
.h4 {
    font-family: "Sansita Swashed", Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
    color: #ff5768 !important;
}

/* Styling buttons */
button {
    background: #ff5768 !important;
    border-color: #ff5768 !important;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

/* Styling profielfoto uploaden */
.profile-picture {
    background: #ff5768 !important;
    border-color: #ff5768 !important;
    color: white !important;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

/* Positionering tekst naast checkbox*/
.checkbox-text {
    margin-left: auto;
}

/* Breedte voor input-velden */
input[type="password"], input[type="file"], input[type="email"], input[type="text"], input[type="date"]{
    width: 250px;
}

/* Kleur, font, margin en positie voor invoerelementen van het formulier */
input, optgroup, select, textarea {
    color: inherit;
    font-family: Open Sans, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
    margin: 10px;
    position: relative;
}

/* Styling hobbycategorieën */
.unselected {
    font-weight: bold !important;
    color: #ff5768 !important;
}

/* Styling dropdownmenu */
.dropdown-primary {
    background-color: #ff5768 !important;
    color: #ffffff !important;
    border-color: #ff5768 !important;
    padding: 5px;
}

/* Hoogte van het biografievakje */
.bio {
    height: 100px !important;
}

/* Sterretje dat aangeeft dat de invoervelden verplicht zijn */
.mandatory-field {
    color: #ff5768;
}

/* Input validation */
.error {
    color: red;
    display: block;
    font-size: small;
}

.onzichtbaar {
    display: none;
}

.onzichtbaar-1 {
    display: none;
}

onzichtbaar-2 {
    display: none;

}

.inputError {
    border-color: red !important;
}

.inputValid {
    border-color: green !important;
}
