body {
    margin: 0;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

h3 {
    text-align: center;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

button {
    background: #ff5768 !important;
    border-color: #ff5768 !important;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif
}

input[type="password"],input[type="file"], input[type="email"] {
    width: 250px;
}

.h3 {
    font-size:2.5vw;
}

.h4 {
    font-size:1.5vw;
}

p {
    font-size: 1.1vw;
}

.checkbox-text {
    margin-left: auto;
}

button {
    background: #ff5768 !important;
    border-color: #ff5768 !important;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif
}

input[type="text"],input[type="file"] {
    width: 250px;
}

input[type="date"] {
    width: 250px;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

input[type="date"] {
    width: 250px;
}

input, optgroup, select, textarea {
    color: inherit;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif;
    margin: 10px;
    position: relative;
}

form {
    color: inherit;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif;
}

body {
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

h3 {
    text-align: center;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif !important;
}

button {
    background: #ff5768 !important;
    border-color: #ff5768 !important;
    font-family: Avenir Next, AppleSystemUIFont, Helvetica, Arial, sans-serif
}

input[type="password"],input[type="file"], input[type="email"] {
    width: 250px;
}



.h3 {
    font-size:2.5vw;
}

.h4 {
    font-size:1.5vw;
}

p {
    font-size: 1.1vw;
}